Repository whamcloud/Online-Help, pull requests merged in 2019-05, with the labels that each got.

#171 First Pass at 4.0.10 -> 5.0.0 upgrade guide
  .travis.yml
  _config.yml
  docs/Contributor_Docs/cd_Contribute_To_Frontend.md
  docs/Upgrade_Guide/Upgrade_EE-2.4-el6_to_LU-LTS-el7.md
  docs/Upgrade_Guide/Upgrade_EE-3.1-el7_to_LU-LTS-el7.md
  docs/Upgrade_Guide/ug_TOC.md
  docs/Upgrade_Guide/upgrade_iml-4.0-el7_to_iml-5.0-el7.md
  link-check-config.json
  package.json
Labels: docs

#174 Update zfs managed docs
  docs/Create_and_manage_ZFS_based_LFS_8_0.md
Labels: docs

#175 Small upgrade to upgrade documentation
  docs/Upgrade_Guide/ug_TOC.md
  docs/Upgrade_Guide/upgrade_iml-4.0-el7_to_iml-5.0-el7.md
Labels: docs

#176 Fix typos
  docs/Install_Guide/ig_ch_05_install.md
Labels: bug, docs

#177 Docker docs update
  docs/Contributor_Docs/cd_Running_IML_On_Docker_With_Vagrant_Servers.md
  docs/Contributor_Docs/cd_TOC.md
  docs/Install_Guide/ig_docker_stack.md
Labels: docs

#178 Fixup vagrant install docs
  docs/Contributor_Docs/cd_Installing_IML_On_Vagrant.md
Labels: bug

#183 IML 5.0.0.0 repo link is broken in upgrade docs.
  docs/Upgrade_Guide/upgrade_iml-4.0-el7_to_iml-5.0-el7.md
Labels: docs
