Repository whamcloud/Online-Help, pull requests merged in 2019-06, with the labels that each got.

#184 Update Backup Script
  docs/Upgrade_Guide/Upgrade_EE-2.4-el6_to_LU-LTS-el7.md
  docs/Upgrade_Guide/Upgrade_EE-3.1-el7_to_LU-LTS-el7.md
  docs/Upgrade_Guide/upgrade_iml-4.0-el7_to_iml-5.0-el7.md
Labels: enhancement

#185 Update iml unit testing docs
  docs/Contributor_Docs/cd_integrated-manager-for-lustre_Unit_Testing.md
Labels: docs

#186 Update upgrade docs
  docs/Upgrade_Guide/Upgrade_EE-3.1-el7_to_LU-LTS-el7.md
Labels: docs

#187 Update upgrade path instructions
  docs/Upgrade_Guide/Installing_Updates.md
Labels: bug, docs

#190 Update lustre version to 2.12.2
  _config.yml
Labels: docs

#189 Update cd_Building_IML_4.0.x.md
  docs/Contributor_Docs/cd_Building_IML_4.0.x.md
Labels: bug
